/* Location search block */
.location-search {
  
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Block-level modifier */
  }
  
  /* Input element inside the location search block */
  .location-search__input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    width: 30vh;
    max-width: 25vh;
  }
  
  /* Button element inside the location search block */
  .location-search__button {
    background-color: #292a2a;
    color: #7a7777;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Suggestions container block */
  .suggestions-container {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
  }
  
  /* Suggestion element inside the suggestions container block */
  .suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc;
  }
  
  /* Modifier class for the last suggestion element inside the suggestions container */
  .suggestion--last {
    border-bottom: none;
  }
  
  /* Hover state for suggestion elements */
  .suggestion:hover {
    background-color: #e0e0e0;
  }
  