.map-container {
    height: 90vh;
    flex: 2;
  }

.info-line{
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: auto;
    text-align: center;
    padding-left: 10px;
}